
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">
<!-- <head th:include="head :: linksFragment">
<title>Reservation d'un trajet - Blacar</title>
</head> -->

<head>
<meta charset="UTF-8" />
<title>Blacar</title>
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
	
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/websocket.js"></script>

</head>





<body>
	<div th:replace="layout :: navbarFragment"></div>

	<section class="section">
		<div class="container">
			<form action="#" th:action="@{/bookcreation}"
				th:object="${bookCreationForm}" method="get">
				<table>
					<tr>
						<td>Search:</td>
						<td><input id="search" name="search" th:value="${search}" /></td>

						<td><button type="submit">Search</button></td>
					</tr>
				</table>
			</form>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<form action="#" th:action="@{/bookcreation}"
				th:object="${bookCreationForm}" method="post">
				<table>
					<tr>
						<td>Ride:</td>
						<td><select th:field="*{rideId}">
							<div th:replace ="rideSelect :: fragmentRide"></div>
								<!-- <option th:each="ride : ${rides}" th:value="${ride.id}"
									th:text="${'Date: '+ ride.startDate + ' Depart: ' + ride.fromCity +' Arrivee: '+ ride.toCity + ' Places: ' + ride.seats + ' Prix: ' + ride.cost}">
								</option> -->
						</select></td>
						<td><button type="submit">Create Booking</button></td>
					</tr>
				</table>
				<div th:text="${message}" class="message-info"></div>
			</form>
		</div>
	</section>
</body>
</html>
