
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">
    <body>
        <form action="#" th:action="@{/bookcreation}" th:object="${bookCreationForm}" method="post">
            <table>
                <tr>
                      <td>Login:</td>
                    <td><input type="text" th:field="*{login}" /></td>
                    <td th:if="${#fields.hasErrors('login')}" th:errors="login">Login Error</td>
                </tr>
                <tr>
                   <td>Location:</td>
                    <td><input type="text" th:field="*{location}" /></td>
                    <td th:if="${#fields.hasErrors('location')}" th:errors="location">Location Error</td>
                </tr>
                
                             
                <tr>
                    <td><button type="submit">Create Booking</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
