<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8" />
<title>Blacar</title>
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
<!-- 	<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/websocket.js"></script> -->
</head>

    <body>
    
    <div th:replace="layout :: navbarFragment"></div>
    
    <section class="section">
    <div class="container">
        <form class="form" action="#" th:action="@{/signup}" th:object="${userCreationForm}" method="post">
            <table>
                <tr>
                    <td>Login:</td>
                    <td><input type="text" th:field="*{login}" /></td>
                    <td th:if="${#fields.hasErrors('login')}" th:errors="login">Login Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Sign Up</button></td>
                </tr>
            </table>
             <div th:text="${message}" class="message-info"></div>
        </form>
            </div>
</section>
    </body>
</html>