<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8" />
<title>Blacar</title>
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
<!-- 	<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/websocket.js"></script> -->
</head>

    <body>
    
    <div th:replace="layout :: navbarFragment"></div>
    
   <section class="section">
    <div class="container">
        <div th:if="${param.error}">
            Invalid login and password.
        </div>
        <div th:if="${param.signout}">
            You have been logged out.
        </div>
        <form th:action="@{/signin}" method="post">
            <div><label> User login : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>
</section>
    </body>
</html>